---
import Hero from "@components/Hero.astro";
import Layout from "@layouts/Layout.astro";
import ContentBodyLayout from "@layouts/ContentBodyLayout.astro";
import { Image } from "astro:assets";
import moonCollage from "../assets/images/moon-collage.png";
---

<Layout>
  <Hero title="Había una vez..." />
  <ContentBodyLayout>
    <p>
      ¡Hola! Soy Jonathan Simon, un desarrollador de software apasionado por la
      tecnología, la física y la filosofía. En este espacio, comparto mis
      reflexiones sobre estas disciplinas y, de paso, un poco de mi historia
      personal.
    </p>
    <p>
      Nací en Las Tunas, Cuba, en 2002. Mi infancia transcurrió en La Habana, a
      donde nos mudamos cuando tenía dos años. Sin mucho contacto con la
      tecnología, mi primer móvil, un Samsung Galaxy J3 Prime, llegó a mis manos
      a los 15 años, en 2017. En ese tiempo, mi fascinación era la física y la
      astronomía. Soñaba con ser físico y pasaba horas observando la Luna,
      deseando tener un telescopio. Mi madre no pudo cumplir ese deseo, pero una
      vieja cámara prestada por mi suegra me permitió acercarme un poco más al
      cielo y así nació mi interés por la fotografía.
    </p>
    <p>
      Comencé a tomar fotos de la Luna y de todo lo que se cruzaba en mi camino,
      cautivado por la idea de capturar momentos. Aprendí sobre lentes,
      composición y técnicas fotográficas, creyendo que la fotografía sería mi
      destino. Pero la vida tenía otros planes.
    </p>
    <Image
      src={moonCollage}
      alt="Fotos de la Luna"
      loading="lazy"
      decoding="async"
      width={moonCollage.width}
      height={moonCollage.height}
    />
    <p>
      En 2020, tras terminar el preuniversitario y aprobar los exámenes de
      ingreso a la universidad, me enfrenté al Servicio Militar Activo (SMA) en
      Cuba, obligatorio para todos los hombres a partir de los 16 años. Esta
      experiencia, una de las más difíciles de mi vida, me enseñó a valorar las
      comodidades y a ver la vida de otra manera. Durante un año, estuve
      separado de mi familia y pareja, viviendo en un cuartel con otros
      reclutas, en condiciones bastante austeras.
    </p>
    <p>
      Tras varios días de cuarentena y pruebas de PCR por la pandemia de
      COVID-19, finalmente nos trasladaron a una unidad militar. Allí, nos
      asignaron literas y nos sometieron a un riguroso entrenamiento: marchas de
      infantería, manejo y disparo de fusiles AKM, y técnicas de armamento.
      Estas semanas de formación nos prepararon para nuestras futuras
      asignaciones en diferentes unidades militares.
    </p>
    <Image
      src="https://images7.alphacoders.com/342/342144.jpg"
      alt="imagen de una akm"
      width="700"
      height="500"
    />
    <p>
      Mi destino me llevó por un camino inesperado, pero cada experiencia ha
      sido una lección valiosa que me ha moldeado. Aquí comparto mi viaje, mis
      pasiones y mis aprendizajes.
    </p>
  </ContentBodyLayout>
</Layout>
