---

---

<a role="button" class="hamburger" id="hamburger">
  <span class="hamburger-bar"></span>
  <span class="hamburger-bar"></span>
  <span class="hamburger-bar"></span>
</a>

<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
    const hamburgerMenu = document.getElementById("hamburger");
    const body = document.getElementById("home-template");
    const menu = document.getElementById("menu");

    hamburgerMenu.addEventListener("click", function () {
      if (body.classList.contains("mobile-menu-open")) {
        body.classList.remove("mobile-menu-open");
      } else {
        body.classList.add("mobile-menu-open");
      }

      if (hamburgerMenu.classList.contains("active")) {
        hamburgerMenu.classList.remove("active");
      } else {
        hamburgerMenu.classList.add("active");
      }
    });
  });
</script>
