---
import Navigation from "@components/Navigation.astro";
import Hamburger from "@components/Hamburger.astro";
import MainSite from "@components/MainSite.astro";
import Logo from "@components/Logo.astro";
import SearchButton from "@components/SearchButton.astro";
---

<header
  class="site-header"
>
    <nav class="wrapper">
      <Logo />
      <Navigation />
      <!-- <SearchButton /> -->
      <Hamburger />
      <!-- <MainSite /> -->
    </nav>
</header>