---
interface Props {
  title: string;
  color?: string;
}

const { title, color }: Props = Astro.props;
---

<main
  class=`flex flex-col ${color ?? "bg-primary"} text-white  justify-center items-center w-full text-center mx-auto h-[60svh] md:h-[80svh] lg:h-[80vh] xl:h-[95vh]`
>
  <slot name="date" />
  <h1 class="text-3xl md:text-5xl w-5/6">{title ?? "Titulo Principal"}</h1>
  <slot name="title" />

  <slot name="description" />
  <slot name="author" />
  <slot />
</main>
