<div class="main-site flex justify-center items-center gap-4">
  <div class="w-px h-6 mb-1 border border-dashed relative opacity-40"/>
  <a 
  aria-label="jsimon.dev"
  class="text-white no-underline hover:no-underline focus:no-underline hover:scale-105 transition-all text-lg" href="https://jsimon.dev">jsimon.dev</a>
</div>
