<div class="flex justify-center items-center gap-4">
  <div class="w-1 h-6 mb-1 border-2 border-solid relative border-stone-300 rounded-md"/>
  <a class="text-white no-underline hover:no-underline focus:no-underline hover:scale-105 transition-all text-lg" target="_blank" href="https://jsimon.dev">jsimon.dev</a>
</div>
