---
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="menu" id="menu">
  <ul class="nav">
    <li><a href={getRelativeLocaleUrl(lang, "/")}>{t("nav.inicio")}</a></li>
    <li><a href={getRelativeLocaleUrl(lang, "blog")}>{t("nav.blog")}</a></li>
    <li>
      <a href={getRelativeLocaleUrl(lang, "tags")}>{t("nav.etiquetas")}</a>
    </li>
    <li>
      <a href={getRelativeLocaleUrl(lang, "about")}>{t("nav.sobre-mi")}</a>
    </li>
  </ul>
</div>
