---
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);


---

<div class="nav-links">
  <a href={getRelativeLocaleUrl(lang, '/')}>{t('nav.inicio')}</a>
  <a href={getRelativeLocaleUrl(lang, 'blog')}>{t('nav.blog')}</a>
  <a href={getRelativeLocaleUrl(lang, 'tags')}>{t('nav.etiquetas')}</a>
  <a href={getRelativeLocaleUrl(lang, 'about')}>{t('nav.sobre-mi')}</a>
</div>
