---
import "@styles/markdown.css";
---

<main class="bg-white min-h-screen">
  <section
    class="m-auto max-w-[700px] text-base leading-6"
  >
  <article role="article">
    <slot />
  </article>
  </section>
</main>